<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyDashboard</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="hero is-fullheight is-primary">
      <header class="hero-head">
        <nav class="navbar is-primary pb-4">
          <div class="navbar-brand">
            <div class="navbar-item">
              <h1 class="title"><a href="/profile">
                <i class="bi bi-clock ml-4"> </i>
                <img 
                src="https://res.cloudinary.com/dynnqi8zy/image/upload/v1670281326/myDashboardLogo_1_kncq8z.png"
                >
              </a></h1>
            </div>
          </div>

          <div class="navbar-menu">
            <div class="navbar-item">
              <h2 class="has-text-weight-bold is-size-3 has-text-white">Today is <%= new Date().toDateString() %> </h2>
            </div>
            <div class="navbar-end">
              <div class="navbar-item">
                <span class="has-text-weight-bold">Welcome, <%= user.userName %></span>
              </div>
              <div class="navbar-item">
                <a href="/logout" class="button is-primary is-outlined is-inverted">Logout</a>
              </div>
            </div>
          </div>
        </nav>
      </header>
      <main class="hero-body columns is-align-items-flex-start pt-5 has-background-light">
        <div class="column is-5 ml-6 has-background-primary-light	box p-6">
          <div class="columns">
            <div class="column is-12">
              <h3 class="title has-text-black">Today's Schedule</h3>
              <div class="columns">
                <div class="column">
                  <form action="/schedule/createSchedule" method="POST">
                    <input type="text" name="event" placeholder="Event name">
                    <input type="time" name="time">
                    
                    <button class="button is-primary" type="submit">Add</button>
                  </form>
                    <!-- display schedule -->
                  <ul class="list-unstyled has-text-dark columns flex-wrap">
                    <%_ if(typeof schedules !== "undefined"){ _%>
                      <% for(var n=0; n<schedules.length; n++) {%>
                        <li class="justify-content-between mt-5 column is-12">
                          <div class="columns is-align-items-center	">
                            <div class="column is-8 is-size-4 has-text-primary has-text-weight-bold	">
                              <%= schedules[n].time %> - <%= schedules[n].event %>
                            </div>
                            <form
                            action="/schedule/deleteSchedule/<%= schedules[n].id %>?_method=DELETE"
                            method="POST"
                            >
                              <button class="bi bi-trash button is-small is-danger is-light" type="submit"></button>
                            </form>
                          </div>
                        </li>
                      <% } %>
                    <%_ } _%>
                  </ul> 
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-6 ml-6">
          <div class="columns">
            <div class="column is-12">
              <h2 class="title has-text-black">Tasks</h2>
              <div>
                <form action="/post/createPost" enctype="multipart/form-data" method="POST">
                  <div class="columns">
                    <div class="column is-6">
                      <input type="text" class="form-control" id="caption" name="caption" placeholder="Add a sticky note"></input>
                    </div>
                    <div class="column is-4 mb-4">
                      <button class="button is-primary" type="submit">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
              <h3 class="title is-4	has-text-black">Incomplete Tasks</h3>
              <ul class="list-unstyled columns flex-wrap">
                <% for(var i=0; i<posts.length; i++) {%>
                  <% if(posts[i].likes === false) {%>
                    <li class="p-1 has-text-black column is-4">
                      <div class="columns m-1">
                        <div class='post-it column is-flex flex-wrap is-align-items-center' contenteditable>
                          <h6 class="postitTitle is-size-4 has-text-centered mb-2"><%= posts[i].caption %></h6>
                          <div>
                            <form
                            action="/post/likePost/<%= posts[i].id %>?_method=PUT"
                            method="POST"
                          >
                            <button class="bi bi-check-circle-fill stickyNoteButton button is-small has-background-primary-light mb-1" type="submit"> Mark Complete</button>
                            </form>
                            <form
                            action="/post/deletePost/<%= posts[i].id %>?_method=DELETE"
                            method="POST"
                          >
                            <button class="bi bi-trash stickyNoteButton button is-small has-background-primary-light mb-2" type="submit"> Delete note</button>
                            </form>
                          </div>
                          <p class="is-size-7 ">Created <%= posts[i].createdAt.toDateString() %></p>
                        </div>
                      </div>
                    </li>
                  <% } %>
                <% } %>
              </ul>
              <div>
                <div class="mt-4 columns">
                  <div class="column">
                    <h3 class="title is-4 has-text-black">Completed Tasks</h3>
                  </div>
                  <div class="column">
                    <button class="button is-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Show
                    </button>
                  </div>
                </div>
                <div class="collapse" id="collapseExample">>
                    <ul class="list-unstyled columns flex-wrap">
                      <% for(var i=0; i<posts.length; i++) {%>
                        <% if(posts[i].likes === true) {%>
                          <li class="p-1 has-text-black column is-2">
                            <div class="columns m-1">
                              <div class="post-it column completedPostIt" contenteditable>
                                <h6 class="is-size-6 postitTitle"><%= posts[i].caption %></h6>
                                <div>
                                  <p class="is-size-7"><%= posts[i].createdAt.toDateString() %></p>
                                </div>
                              </div>
                            </div>
                          </li>
                        <% } %>
                      <% } %>
                    </ul>
                  </div>
              </div>
            </div>
          </div>
        </div>

      </main>
      <footer class="hero-foot ml-2 is-size-7">
            <span>(c) 2022 Morgan Downing. All rights reserved.</span>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>